<h1>Recupero de password</h1>
<form method="POST" action="/auth/forgot-password">
  <input type="email" name="email" placeholder="Email" required>
  <button type="submit">Enviar link</button>
</form>
